{#
 # Generates a info message that informs the players about an automatic map deletion.
 #
 # @param string[] colors The list of colors
 # @param string mapName The name of the deleted map
 #}

{# Extends ServerMessageInfo.template #}
{% layout = "TextTemplate/ServerMessageInfo" %}

{-infoMessage-}
The map "{* mapName *}" was automatically deleted because it wasn't playable.
{-infoMessage-}
