{#
 # Prints the map top summary.
 #
 # @tparam string[] colors The list of colors
 # @tparam MapTop mapTop The maptop
 #}
{* colors.mapTopInfo *}This map was finished by
{* colors.mapTopNumberOfRecords *} {* mapTop:getMapRecordList():getNumberOfRecords() *}
{* colors.mapTopInfo *} player
{% if (mapTop:getMapRecordList():getNumberOfRecords() ~= 1) then %}s{% end %}
