{#
 # Prints the map top summary.
 #
 # @tparam string[] colors The list of colors
 # @tparam MapScoreList mapScoreList The MapScoreList
 #}

{* colors.mapTopInfo *}This map was finished by
{* colors.mapTopNumberOfRecords *} {* mapScoreList:getNumberOfScores() *}
{* colors.mapTopInfo *} player
{% if (mapScoreList:getNumberOfScores() ~= 1) then %}
  s
{% end %}
