{#
 # Prints a MapScore rank info.
 #
 # @tparam string[] colors The list of colors
 # @tparam MapScore mapScore The MapScore whose rank info to print
 # @tparam int totalNumberOfMapScores The total number of map scores for the current map
 #}

{* colors.mapRecordRank *}Rank
{* colors.mapRecordCurrentRank *} {* mapScore:getRank() *}
{* colors.mapRecordInfo *}/
{* colors.totalNumberOfMapScores *}{* totalNumberOfMapScores *}
{* colors.mapRecordInfo *}
