{#
 # Generates a message that tells a player that the given start rank is higher than the number of map scores.
 #
 # @tparam string[] colors The list of colors
 # @tparam int maximumStartRank The maximum allowed start rank
 #}

The maximum allowed start rank is {* colors.mapRecordRank *}{* maximumStartRank *}
