{#
 # Prints a message that tells all players from which country (code + name) a player connected.
 #
 # @tparam Player player The Player who connected
 # @tparam GeoIPData geoipData The geoip data for the Player's IP
 #}

{* colors.nameUnarmed *}{* player:getName() *}
{* colors.info *} connected from
{* colors.geoipCountry *} {* geoipData:getCountryCode() *}
{* colors.info *},
{* colors.geoipCountry *} {* geoipData:getCountryName() *}
