{#
 # Prints the status for a MapScore that has the exact same time like the personal best MapScore.
 #
 # @tparam string[] colors The list of colors
 #}

{* colors.scoreRecordTied *}(Tied own best time)
