{#
 # Generates a message that informs the players that a map could not be deleted.
 #
 # @param string mapName The name of the map
 #}

Could not delete map "{* mapName *}": There are map records for this map
