{#
 # Generates a info message that informs all players that a player could not connect because he is banned.
 #
 # @param string[] colors The list of colors
 # @param string playerName The name of the banned player
 #}

{# Extends ServerMessageInfo.template #}
{% layout = "TextTemplate/ServerMessageInfo" %}

{-infoMessage-}
{* playerName *} could not connect [banned]
{-infoMessage-}
