{#
 # Prints the score rank for a map record.
 # The result is "Rank x of y".
 #
 # @tparam string[] colors The list of colors
 # @tparam MapRecord mapRecord The map record
 # @tparam int numberOfRecords The total number of records
 #}

{* colors.mapRecordRank *}
(Rank {* mapRecord:getRank() *} of {* numberOfRecords *})
