{#
 # Prints the "new best time" message.
 # The result is "***** NEW BEST TIME *****".
 #}
{# @todo: Find better design for this template #}
\f9*\f2*\fP*\f9*\f2* \fPN\f9E\f2W \fPB\f9E\f2S\fPT \f9T\f2I\fPM\f9E \f2*\fP*\f9*\f2*\fP*
